  <td><svg class="icon-student"><use xlink:href="#icon-student"></use></svg></td>
  <td class="session-cell--name">{{ shortName }}</td>
  <td>{{ reading_stage}}</td>
  <td>n/a</td>
  <td>n/a</td>
  <td class="session-cell--spacer"></td>
  <td>{{ daysOnCurrentReadingStage }}</td>
  <td>{{ daysSinceLastSession }}</td>
  <td>n/a</td>
  <td class="session-cell--desired">{{ number_per_week }}</td>
  {{!-- <td class="session-cell--data">see student data</td> --}}
  <td class="session-cell--start js-startSession" colspan="2">start session</td>
