<div class="timer animated fadeIn" style={{visible}}>
  <div class="timer__controls grid grid--wrap">
      <div class="timer__progress grid-cell u-1of3">
        <span>
          <select type="number" id="minutes">
            {{#each minutes}}
              <option value="{{this.value}}">{{this.display}}</option>
            {{/each}}
          </select>:
          <select type="number" id="seconds">
            {{#each seconds}}
              <option value="{{this.value}}">{{this.display}}</option>
            {{/each}}
          </select>:
        </span>
      </div>
      <button class="button button--warning grid-cell u-1of3 js-timerButton">{{action}}</button>
      <a href="#" class="icon {{modifier}} grid-cell u-1of3"></a>
  </div>
</div>
