<td>
<svg class="icon-student"><use xlink:href="#icon-student"></use></svg>
</td>
<td class="session-cell--name">{{ shortName }}</td>
<td>{{ reading_stage}}</td>
<td class="session-cell--na">n/a</td>
<td class="session-cell--na">n/a</td>
<td width="10" class="session-cell--spacer"></td>
<td>{{ daysOnCurrentReadingStage }}</td>
<td>{{ daysSinceLastSession }}</td>
<td>4</td>
<td class="session-cell--desired">{{ number_per_week }}</td>
<td class="session-cell--start session-cell--start--student js-addStudent" colspan="4">
  <svg class="icon-add"><use xlink:href="#icon-add"></use></svg>
  add student</td>
